/* Die Grundlagen zu CSS */
/* h1 {  h1 => Selektoren für HTML-Elemente 
    Alles in den geschweiften Klammern: CSS-Regeln 
    color: rgb(255, 0, 0);
    font-size: 40px;
    font-style: italic;
} */

/*
    Wenn man eine Font aus einer Datei in CSS verwenden
    möchte, dann muss man dafür ein "Font-Face" deklarieren.
    Bei Google Fonts ist das NICHT notwendig...
*/
@font-face {
    font-family: 'GeileFont';
    src: url('Matrix-MZ4P.ttf') format('truetype');
}

:root {
    --color-main: #CC00CC;
    --color-secondary: rgb(170, 0, 255);
    --color-text: #8c8c8c;
    --box-shadow-default: 5px 5px 5px #000000;
    --background-transparent: rgba(0,0,0,.8);
}

body {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Roboto Slab';
}

.window {
    font-size: 20px;
}

#clock {
    text-align: center;
    font-size: 3.5em;
    font-family: 'GeileFont';
    color: var(--color-main);
    text-shadow: var(--box-shadow-default);
    font-weight: 900;
    /* margin-top: 50px;
    margin-bottom: 50px; */
    margin: 120px 0 40px 0;
    /*margin: 50px 0;*/
}

.container {
    display: flex;
    flex-direction: row; /* Ändert die Primärachse der Flexbox */
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center; /*?????*/
}

.link-container {
    display: inline-block;
    border: 7px double var(--color-secondary);
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
    height: 40vh;
    min-height: 260px;
    width: 20%;
    background-color: var(--background-transparent);
}

.link-container > h1 {
    color: var(--color-main);
    margin-top: 10px;
}

/* Selektiert jedes UL-Elem, welches ein Element mit der 
    Klasse link-container als Parent hat. */
.link-container > ul {
    list-style-type: none;
    padding: 0;
    /* text-align: start; */
}

.link-container > ul > li > a {
    text-decoration: none;
    color: var(--color-text);
    font-weight: 600;
    font-size: 1.5em;
}

.link-container > ul > li > a:hover {
    color: var(--color-secondary);
    font-weight: 900;
    transition: all .5s cubic-bezier(.67,.11,.15,.99);
    font-size: 1.6em;
}

#joke {
    background-color: var(--background-transparent);
    color: var(--color-text);
    margin-top: 1em;
}

/* Media-Query */
@media only screen and (max-width: 897px) {
    /* Regeln für Mobile-Layout */
    body {
        background-image: url('background-mobile.jpg');
        background-attachment: scroll;
        height: 100%;
        /* overflow-y: scroll; => Default Scroll */
    }

    #clock {
        margin-top: 3rem;
    }

    .container {
        flex-direction: column; /* Wechselt die Primärachse */
        align-items: center; /* Cross-Axis */
        justify-content: center; /* Primary-Axis */
    }

    .link-container {
        width: 80%;
        font-size: 1.1em;
        padding: 1.4em;
        height: fit-content;
    }

    .link-container > h1 {
        margin-top: 0;
    }

    .link-container > ul > li > a {
        font-size: 1.5em;
    }

    .link-container > ul > li > a:hover {
        color: var(--color-secondary);
        font-weight: 900;
        transition: all .5s cubic-bezier(.67,.11,.15,.99);
        font-size: 1.7em;
    }
}

@media only screen and (max-width: 1350px) {
    .link-container > ul > li > a {
        text-decoration: none;
        color: var(--color-text);
        font-weight: 600;
        font-size: 1em;
    }
    
    .link-container > ul > li > a:hover {
        color: var(--color-secondary);
        font-weight: 900;
        transition: all .5s cubic-bezier(.67,.11,.15,.99);
        font-size: 1.1em;
    }
}


/*
.link-container > ul > li > a:visited {
    color: red;
} */

/* Beispiele für CSS-Selektoren */
/* 
HTML-Elemente 
h1, p, ul {

}
CSS Klassen
.container {

}
ID des Elements
#oma {

}
Kombination
div.container#main {

}
*/