/* Die Grundlagen zu CSS */
/* h1 {  h1 => Selektoren für HTML-Elemente 
    Alles in den geschweiften Klammern: CSS-Regeln 
    color: rgb(255, 0, 0);
    font-size: 40px;
    font-style: italic;
} */

/*
    Wenn man eine Font aus einer Datei in CSS verwenden
    möchte, dann muss man dafür ein "Font-Face" deklarieren.
    Bei Google Fonts ist das NICHT notwendig...
*/
@font-face {
    font-family: 'GeileFont';
    src: url('Matrix-MZ4P.ttf') format('truetype');
}

:root {
    --color-main: #CC00CC;
    --color-secondary: rgb(170, 0, 255);
    --color-text: #8c8c8c;
}

body {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Roboto Slab';
}

.container {
    display: flex;
    flex-direction: row; /* Ändert die Primärachse der Flexbox */
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; /*?????*/
}

.link-container {
    display: inline-block;
    border: 7px double var(--color-secondary);
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
    height: 25vh;
    min-height: 180px;
    width: 20%;
    background-color: rgba(0,0,0,.4);
}

/* Selektiert jedes UL-Elem, welches ein Element mit der 
    Klasse link-container als Parent hat. */
.link-container > ul {
    list-style-type: none;
    padding: 0;
    /* text-align: start; */
}

.link-container > ul > li > a {
    text-decoration: none;
    color: rgb(0,0,0);
    font-weight: 600;
}

.link-container > ul > li > a:hover {
    color: var(--color-secondary);
    font-weight: 800;
}

/*
.link-container > ul > li > a:visited {
    color: red;
} */